.imgFondoVideos {
    @extend .imgFondoMusic;
    background-image: url('../img/gente-en-concierto.webp');
}
.colorFondoVideos {
    background-color: rgba(255, 255, 255, 0.521);
    padding-bottom: 50px;
}
.videos {
    &__contenedorGeneralVideoPrincipal {
        animation-name: map-get($map: $contenedor-general-video-principal, $key: animation-name);
        animation-duration: map-get($map: $contenedor-general-video-principal, $key: animation-duration);
        animation-timing-function: map-get($map: $contenedor-general-video-principal, $key: animation-timing-function);
        width: 70%;
        margin: auto;
    }
    @keyframes fadeInVideoPrincipal {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__contenedorResponsivoVideoPrincipal {
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
    }
    &__titulo {
        @include desktop-titulo-pagina;
    }
    &__videoPrincipal {
        @include videoResponsive;
    }
    &__contenedorVideosSecundarios {
        display: flex;
        flex-wrap: wrap;
        animation-duration: 4s;
        animation-name: fadeInVideosSecundarios;
        animation-timing-function: ease-in-out;
        justify-content: center;
    }
    @keyframes fadeInVideosSecundarios {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__contenedorUbicacionVideoSecundario {
        width: 30%;
        margin: 20px;
    }
    &__contenedorVideoSecundario {
        width: 100%;
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
    }
    &__videoSecundario {
        @include videoResponsive;
    }
}
