.imgFondoMusic {
    background-image: url('../img/leo-cantando.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.colorFondoMusic {
    background-color: rgba(221, 221, 221, 0.651);
}
.music {
    display: map-get($map: $config-clase-music, $key: flex-direction);
    width: map-get($map: $config-clase-music, $key: width);
    margin: map-get($map: $config-clase-music, $key: margin);
    padding-bottom: map-get($map: $config-clase-music, $key: padding-bottom);

    &__titulo {
        @include desktop-titulo-pagina;
    }
    &__album {
        display: flex;
        justify-content: flex-start;
        margin-top: 60px;
        width: 100%;

        &__cover {
            width: 50%;
            height: 50%;
            order: 1;
        }
        &__contenedorInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            order: 2;
        }
        &__titulo {
            font-size: 1.8rem;
            margin: 30px 0px 40px 50px;
            order: 1;
        }
        &__canciones {
            font-size: 1rem;
            margin-left: 50px;
            margin-bottom: 30px;
            padding-left: 15px;
            order: 2;
        }
        &__nota {
            font-size: 0.8rem;
            margin-left: 50px;
            margin-bottom: 20px;
            order: 3;
        }
        &__link {
            order: 4;

            &__btn {
                @include boton-1;
                margin-left: 50px;
                justify-self: auto;
            
                &:active {
                    transform: $escala-active-boton1;
                }
                &:hover {
                    color: $color-hover-boton1;
                }
            }
        }
    }
}


