body {
    @include background-image;
    background-image: url('../img/studio.webp');
}
/* Inicio seccion 1 */
.bienvenida {
    background-color: #d6631673;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__logoFrogleapStudios {
        width: 45%;
        max-width: 650px;
        margin: 0px auto;
        padding-top: 120px;
        padding-bottom: 30px;
        animation-name: FadeLogoFrogleapStudios;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
    }
    @keyframes FadeLogoFrogleapStudios {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__contenedorFotoVideoScroll {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__fotoLeo {
        width: 32%;
        align-self: flex-end;
    }
    &__contenedorPosicionamientoVideo {
        width: 25%;
        margin: 0px 20px 50px 0px;
    }
    &__contenedorResponsiveVideo {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    &__video {
        @include videoResponsive;
    }
    &__contenedorScrollFlecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        &__scroll {
            color: white;
            font-size: 1.3rem;
        }
        &__flecha {
            width: 40px;
        }
    }
}
/* Inicio seccion 2 */
.latestMusic {
    height: auto;
    background-color: #72727273;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-areas: 
    "latestMusic ultimateBundle childrensMetalSongs karaokeAndBackingTracks exploreMore"
    "latestMusic liveInEurope volume24 volume25 exploreMore"
    ;
    padding: $padding-secciones-home;
    place-items: center;

    &__titulo {
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        justify-self: flex-start;
        padding: 0px;
        grid-area: latestMusic;
    }
    &__album {
        font-size: 0px;
        width: 80%;
        min-width: 200px;

        &__link {
            width: 100%;

            &__cover {
                width: 100%;
                transition-duration: $transitionDuration;
                transition-timing-function: $transitionTimingFunction;
                transition-property: scale(1);
            
                &:hover {
                    transform: $transform-scale;
                }
            }
        }
        &--ultimateBundle {
            grid-area: ultimateBundle;
        }
        &--childrensMetalSongs {
            grid-area: childrensMetalSongs;
        }
        &--karaokeBackingTracks {
            grid-area: karaokeBackingTracks;
        }
        &--liveInEurope {
            grid-area: liveInEurope;
        }
        &--volume24 {
            grid-area: volume24;
        }
        &--volume25 {
            grid-area: volume25;
        }
    }
    &__exploreMore {
        @include boton-1;
    
        &:active {
            transform: $escala-active-boton1;
        }
        &:hover {
            color: $color-hover-boton1;
        }
    }
}
/* Inicio seccion 3 */
.socialMedia {
    @extend .latestMusic;
    grid-template-columns: 150px 1fr 1fr 45%;
    grid-template-rows: 50%;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
    "followMe facebook twitter guitarra"
    "followMe youTube instagram guitarra"
    ;
    padding: $padding-secciones-home;

    &__titulo {
        @extend .latestMusic__titulo;
        grid-area: followMe;
    }
    &__link {
        width: 45%;
        min-width: 140px;

        &__logo {
            width: 100%;
            transition-duration: $transitionDuration;
            transition-timing-function: $transitionTimingFunction;
            transition-property: scale(1);
        
            &:hover {
                transform: $transform-scale;
            }
        }
        &--facebook {
            grid-area: facebook;
        }
        &--twitter {
            grid-area: twitter;
        }
        &--youTube {
            grid-area: youTube;
        }
        &--instagram {
            grid-area: instagram;
        }
        &--guitarra {
            grid-area: guitarra;
        }
    }
    &__guitarra {
        width: 80%;
    }
}
/* Inicio seccion 4 */
.buyAlbums { 
    @extend body;
    background-image: url('../img/guitarra-concierto.webp');
    
    &__colorFondo {
        padding: $padding-secciones-home;
        background-color: rgba(88, 88, 88, 0.37);
        display: grid;
        grid-template-areas:
        "buyAlbums amazon amazon"
        "buyAlbums iTunes wav"
        ;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: 150px 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 80px 20px;
    }
    &__titulo {
        @extend .latestMusic__titulo;
        grid-area: buyAlbums;
    }
    &__link {
        width: 50%;
        min-width: 260px;

        &--amazon {
            grid-area: amazon;
        }
        &--itunes {
            grid-area: iTunes;
        }
        &--wav {
            grid-area: wav;
        }
        &__logo {
            width: 100%;
            transition-duration: $transitionDuration;
            transition-timing-function: $transitionTimingFunction;
            transition-property: scale(1);
        
            &:hover {
                transform: $transform-scale;
            }
        }
    }
}
/* Inicio seccion 5 */
.contenedorFinal {
    @include contenedorFinal-seccion-5;

    .cierre {
        @include background-seccion-5;

        &__logoFrogleapStudios {
            width: 30%;
            padding-bottom: 140px;
            z-index: 2;
        }
    }
}