.imgFondoStore {
    @extend .imgFondoMusic;
    background-image: url('../img/store.webp');
}
.colorFondoStore {
    background-color: #72727270;
}
.store {
    &__titulo {
        @include desktop-titulo-pagina;
    }
    &__menu {
        list-style: map-get($map: $menu-pagina-store, $key: list-style);
        display: map-get($map: $menu-pagina-store, $key: display);
        position: map-get($map: $menu-pagina-store, $key: position);
        margin: map-get($map: $menu-pagina-store, $key: margin);
        padding: map-get($map: $menu-pagina-store, $key: padding);
        width: map-get($map: $menu-pagina-store, $key: width);
        place-content: map-get($map: $menu-pagina-store, $key: place-content);

        &__categoria {
            @include boton-1;
            margin: 0;
            padding: 8px;
            font-size: 1rem;
        
            &:active {
                transform: scale(0.95);
            }
            &:hover {
                color: $color-hover-boton1;
            }
        }
    }
    &__contenedorProductos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;

        &__producto {
            @extend .latestMusic__album__link__cover;
            
            &:hover {
                transform: $transform-scale;
            }
        }
    }
}




