.imgFondoStore {
    @extend .imgFondoVideos;
    background-image: url('../img/store.png');
}
.colorFondoStore {
    background-color: #72727273;
}
.store {
    &__titulo {
        @include desktop-titulo-pagina;
        text-align: center;
    }
    &__menu {
        list-style: map-get($map: $menu-pagina-store, $key: list-style);
        display: map-get($map: $menu-pagina-store, $key: display);
        position: map-get($map: $menu-pagina-store, $key: position);
        margin: map-get($map: $menu-pagina-store, $key: margin);
        padding: map-get($map: $menu-pagina-store, $key: padding);
        width: map-get($map: $menu-pagina-store, $key: width);
        place-content: map-get($map: $menu-pagina-store, $key: place-content);

        &__categoria {
            display: inline-block;
            width: auto;
            padding: 8px;
            font-size: 1rem;
            color: #fff;
            background-color: #000;
            border: 1px solid #fff;
            transition-duration: 100ms;
            transition-timing-function: ease-in-out;
            transition-property: scale(1);
        
            &:active {
                transform: scale(0.95);
            }
        }
    }
    &__contenedorProductos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;

        &__producto {
            @extend .latestMusic__album__link__cover;
            &:hover {
                transform: scale(1.06);
            }
        }
    }
}




