.header {
    background-color: #121212;
    position: fixed;
    top: 0;
    border-bottom: 3px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;

    &__nav {
        display: flex;
        align-items: center;
        width: 100%;

        #menuHamburguesa {
            display: none;
        }
        &__checkbox__menu {
            display: none;
        }
        &__inicio {
            width: 140px;
            margin: 8px 0px 0px 8px;
        }
        &__inicio__logo {
            width: 100%;
            transition: map-get($map: $transiciones, $key: transform);
            transition-duration: map-get($map: $transiciones, $key: transition-duration);
            transition-timing-function: map-get($map: $transiciones, $key: transition-timing-function);

            &:hover {
                transform: scale(1.06);
            }
        }
        &__menuPaginas {
            list-style: none;
            display: inline-block;
            margin: auto;

            &__item {
                display: inline-block;
                margin: 0px 30px;
                font-size: 20px;
                font-weight: bold;

                &__link {
                    text-decoration: none;
                    color: #ffffff;
                    text-transform: uppercase;
                    transition: color;
                    transition-duration: 300ms;
                    transition-timing-function: ease-in-out;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
        &__patreonLink {
            width: 55px;
            height: 55px;
            margin: 0px;

            &__logoPatreon {
                width: 100%;
                margin: 0px;
                transition: scale(1);
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
        
                &:hover {
                    transform: scale(1.07);
                }
            }
        }
    }
}









