@media screen and (max-width: 1280px) {
    .videos {

        &__contenedorGeneralVideoPrincipal {
            width: 90%;
        }
        &__contenedorVideosSecundarios {
            width: 100%;
            margin: auto;
        }
        &__contenedorUbicacionVideoSecundario {
            width: 40%;
        }
    }
}