.imgFondoVideos {
    background-image: url('../img/gente-en-concierto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.colorFondoVideos {
    background-color: rgba(255, 255, 255, 0.521);
    padding-bottom: 50px;
}
.videos {
    &__contenedorGeneralVideoPrincipal {
        padding: 0px 200px 40px 200px;
        animation-name: fadeInVideoPrincipal;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
    }
    @keyframes fadeInVideoPrincipal {
        0% {
            opacity: 0; translateY: (0px);
        }
        50% {
            opacity: 0; translateY: (0px);
        }
        75% {
            opacity: 0; translateY: (0px);
        }
        100% {
            opacity: 1; translateY: (40px);
        }
    }
    &__contenedorResponsivoVideoPrincipal {
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
    }
    &__titulo {
        @include desktop-titulo-pagina;
        text-align: center;
    }
    &__videoPrincipal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__contenedorVideosSecundarios {
        display: flex;
        flex-wrap: wrap;
        animation-duration: 4s;
        animation-name: fadeInVideosSecundarios;
        animation-timing-function: ease-in-out;
        justify-content: center;
    }
    @keyframes fadeInVideosSecundarios {
        0% {
            opacity: 0; translateY: (0px);
        }
        50% {
            opacity: 0; translateY: (0px);
        }
        75% {
            opacity: 0; translateY: (0px);
        }
        100% {
            opacity: 1; translateY: (40px);
        }
    }
    &__contenedorUbicacionVideoSecundario {
        width: 30%;
        margin: 20px;
    }
    &__contenedorVideoSecundario {
        width: 100%;
        height: 0px;
        padding-bottom: 56.25%;
        position: relative;
    }
    &__videoSecundario {
        @extend .videos__videoPrincipal;
    }
}
