$transiciones: (
    transform: scale(1),
    transition-duration: 200ms,
    transition-timing-function: ease-in-out,
);
$config-clase-music: (
    display: flex,
    flex-direction: column,
    width: 80%,
    margin: auto,
    padding-bottom: 70px,
);
$menu-pagina-store: (
    list-style: none,
    display: flex,
    position: relative,
    margin: 0px,
    padding: 0px,
    width: 100%,
    place-content: center,
);
$contenedor-general-video-principal: (
    animation-name: fadeInVideoPrincipal,
    animation-duration: 4s,
    animation-timing-function: ease-in-out,
);
$tarjeta-tour-dates: (
    background-color: rgba(66, 66, 66, 0.486),
    color: #fff,
    width: 45%,
    border: 2px solid black,
    padding: 15px,
    height: auto,
    margin: 30px auto,
    display: flex,
    justify-content: space-between,
);