@media screen and (max-width: 600px) {
    .imgFondoTourDates {
        background-image: url('../img/fondo-tour-dates.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .colorFondoTourDates {
        background-color: rgba(196, 196, 196, 0.74);
    }
    .tourDates{
        padding-bottom: 50px;

        &__titulo {
            text-align: center;
            font-size: 4rem;
            font-weight: bold;
            color: #000;
            letter-spacing: 20px;
            padding-top: 100px;
        }
        &__tarjeta {
            background-color: rgba(66, 66, 66, 0.486);
            color: #fff;
            width: 80%;
            border: 2px solid black;
            padding: 15px;
            height: 155px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;

            &__contenedorInfo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            &__titulo {
                font-size: 1.2rem;
                font-weight: bold;
                color: rgb(255, 255, 255);
                padding-bottom: 15px;
            }
            &__fecha {
                font-size: 0.9rem;
                color: rgb(255, 255, 255);
            }
            &__lugar {
                @extend .tourDates__tarjeta__fecha
            }
            &__botones {
                display: flex;
                align-content: flex-end;
                flex-flow: column;

                .tourDates__tarjeta__btn {
                    background-color: rgb(0, 0, 0);
                    color: #fff;
                    height: 100%;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 15px;
                    border: 1px solid #fff;
                    transition-duration: 100ms;
                    transition-timing-function: ease-in-out;
                    transition-property: color scale(1);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:active {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}