@media screen and (max-width: 600px) {
    .imgFondoMusic {
        background-image: url('../img/leo-cantando.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .colorFondoMusic {
        background-color: rgba(221, 221, 221, 0.651);
    }
    .music {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        padding-bottom: 70px;

        &__titulo {
            font-size: 4rem;
            font-weight: bold;
            color: #000;
            letter-spacing: 20px;
            padding-top: 100px;
            padding-bottom: 50px;
        }
        &__album {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 60px;

            &__cover {
                width: 100%;
                height: 100%;
                order: 1;
            }
            &__contenedorInfo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                order: 2;
            }
            &__titulo {
                font-size: 1.8rem;
                margin: 40px 0px 20px 0px;
                order: 1;
            }
            &__canciones {
                font-size: 0.9rem;
                margin: 0px 0px 40px 0px;
                padding-left: 17px;
                order: 2;
            }
            &__nota {
                font-size: 0.8rem;
                height: fit-content;
                margin: 0px 0px 20px 0px;
                order: 3;
            }
            &__link {
                text-decoration: none;
                width: fit-content;
                height: fit-content;
                order: 4;

                &__btn {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: bold;
                    background-color: black;
                    padding: 8px;
                    margin: 0px;
                    border: 1px solid #fff;
                    transition-duration: 100ms;
                    transition-timing-function: ease-in-out;
                    transition-property: color scale(1);

                    &:active {
                        transform: scale(0.95);
                    }
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }   
}