@media screen and (max-width: 1000px) {
    .imgFondoVideos {
        background-image: url('../img/gente-en-concierto.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .colorFondoVideos {
        background-color: rgba(255, 255, 255, 0.521);
        padding-bottom: 30px;
    }
    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__contenedorGeneralVideoPrincipal {
            width: 100%;
            max-width: 800px;
            padding: 0px;
            animation-name: map-get($map: $contenedor-general-video-principal, $key: animation-name);
            animation-duration: map-get($map: $contenedor-general-video-principal, $key: animation-duration);
            animation-timing-function: map-get($map: $contenedor-general-video-principal, $key: animation-timing-function);

            .videos__contenedorResponsivoVideoPrincipal {
                height: 0px;
                padding-bottom: 56.25%;
                position: relative;
                overflow: hidden;
            }
        }
        @keyframes fadeInVideoPrincipal {
            0% {
                opacity: 0; translateY: (0px);
            }
            50% {
                opacity: 0; translateY: (0px);
            }
            75% {
                opacity: 0; translateY: (0px);
            }
            100% {
                opacity: 1; translateY: (40px);
            }
        }
        &__titulo {
            @include mobile-titulo-pagina;
            text-align: center;
        }
        &__videoPrincipal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &__contenedorVideosSecundarios {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation-duration: 4s;
            animation-name: fadeInVideosSecundarios;
            animation-timing-function: ease-in-out;
            width: 100%;

            .videos__contenedorUbicacionVideoSecundario {
                width: 100%;
                max-width: 600px;
                margin: 20px 0px;

                .videos__contenedorVideoSecundario {
                    width: 100%;
                    height: 0px;
                    padding-bottom: 56.25%;
                    position: relative;
                }
            }
        }
        @keyframes fadeInVideosSecundarios {
            0% {
                opacity: 0; translateY: (0px);
            }
            50% {
                opacity: 0; translateY: (0px);
            }
            75% {
                opacity: 0; translateY: (0px);
            }
            100% {
                opacity: 1; translateY: (40px);
            }
        }
        &__videoSecundario {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}