@media screen and (max-width: 1000px) {
    .header {
        border-bottom: 2px solid red;

        &__nav {
            justify-content: space-between;

            #menuHamburguesa {

                &:checked ~ .header__nav__menuPaginas {
                    margin-left: 0;
                }
            }
            &__checkbox {

                &__menu {
                    display: flex;

                    &__icono {
                        width: 40px;
                        margin-left: 15px;
                    }
                }

            }
            &__inicio {
                display: flex;
                width: 110px;
                margin: 8px 0px;

                &__logo {
                    width: 100%;
                    margin: 0;
                }
            }
            &__menuPaginas {
                display: flex;
                flex-direction: column;
                position: absolute;
                align-items: center;
                top: 60px;
                padding: 50px 0 0 0;
                margin-left: -100%;
                background-color: #121212;
                width: 100vw;
                height: 100vh;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                transition-property: margin-left;
                z-index: 20;

                &__item {
                    margin: 30px 0px;
                }
            }
            &__patreonLink {
                width: 45px;
                height: 45px;
            }
        }
    }
}