@media screen and (max-width: 1000px) {
    /* Inicio seccion 1 */
    .bienvenida {
        min-height: 600px;

        &__logoFrogleapStudios {
            padding-top: 100px;
            display: block;
            width: 50%;
        }
        &__contenedorFotoVideoScroll {
            height: auto;
        }
        &__fotoLeo {
            width: 55%;
            max-width: 500px;
        }
        &__contenedorScrollFlecha {
            display: none;
        }
        &__contenedorPosicionamientoVideo {
            width: 43%;
            max-width: 350px;
            padding-bottom: 30px;
        }
    }
    /* Inicio seccion 2 */
    .latestMusic {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 70px 50px 70px;
        justify-content: center;

        &__titulo {
            font-size: $fontSizeMobile-titulo-seccion;
            font-weight: $fontWeight-titulo-seccion;
            color: $color-titulo-seccion;
            grid-area: latestMusic__titulo;
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
        &__album {
            width: 80%;
            max-width: 350px;
        }
    }
    /* Inicio seccion 3 */
    .socialMedia {
        display: flex;
        padding: 0px 130px;
        row-gap: 0px;
        column-gap: 0px;

        &__titulo {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            margin: 0 auto;
        }
        &__link{
            width: 55%;
            max-width: 150px;
            font-size: 0px;
            margin: 30px;
        }
        &__guitarra {
            display: none;
        }
    }
    /* Inicio seccion 4 */
    .buyAlbums {
        background-position-x: map-get($map: $clase-buyAlbums, $key: background-position-x);

        &__colorFondo {
            display: flex;
            row-gap: 0px;
            flex-direction: column;
            padding: 10px 10px 50px 10px;
        }
        &__titulo {
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
            margin: 0 auto;
        }
        &__link {
            max-width: 350px;
            margin: 30px 0px;
        }
    }
    /* Inicio seccion 5 */
    .contenedorFinal {
        @include contenedorFinal-seccion-5;
        
        .cierre {
            @include background-seccion-5;

            &__logoFrogleapStudios {
                width: 60%;
                max-width: 330px;
                padding-bottom: 120px;
            }
        }
        
    }
}