@media screen and (max-width: 600px) {
    .imgFondoStore {
        background-image: url('../img/store.png');
        background-size:  cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .colorFondoStore {
        background-color: #72727273;
    }
    .store {

        &__titulo {
            text-align: center;
            font-size: 4rem;
            font-weight: bold;
            color: #000;
            letter-spacing: 20px;
            padding-top: 100px;
            padding-bottom: 50px;
        }
        &__menu {
            list-style: none;
            display: flex;
            position: relative;
            margin: 0px;
            padding: 0px;
            width: 100%;
            place-content: center;

            &__categoria {
                display: inline-block;
                width: auto;
                padding: 8px;
                margin: 5px;
                font-size: 1rem;
                color: #fff;
                background-color: #000;
                border: 1px solid #fff;
                transition-duration: 100ms;
                transition-timing-function: ease-in-out;
                transition-property: color scale(1);

                &:active {
                    transform: scale(0.95);
                }
            }
        }
        &__contenedorProductos {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 20px;
            padding: 50px;

            &__producto {
                width: 100%;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                transition-property: scale(1);

                &:hover {
                    transform: scale(1.06);
                }
            }
        }
    } 
}