$fontSizeDesktop-titulo-pagina: 4rem;
$fontSizeMobile-titulo-pagina: 3.3rem;
$fontSizeMobile-titulo-seccion: 2.7rem;
$padding-titulo-pagina: 100px 0px 50px 0px;
$letterSpacing-titulo-pagina: 20px;
$fontWeight-titulo-pagina: bold;
$color-titulo-pagina: #000;
$color-titulo-seccion: #fff;
$letterSpacing-titulo-pagina: 15px;
$padding-secciones-home: 100px 20px 40px 20px;
$color-hover-boton1: red;
$escala-active-boton1: scale(0.95);
// Variables transiciones
$transitionDuration: 300ms;
$transitionTimingFunction: ease-in-out;
$transform-scale: scale(1.06);